@using Services;
@model List<Data.Models.Book>

@{
    ViewBag.Title = "Visa böcker";
}

<h2>Alla böcker</h2>

<a href="@Url.Action("Create")" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Lägg till ny bok</a>

<div class="weatherdata"></div>

<div class="booktable">
    @Html.Partial("BookTable", Model)
</div>
@section scripts {
    <script>
        $('.booktable').on('click', '.deletebook', function () {
            var $this = $(this);
            var booktitle = $this.data('title');
            if (!window.confirm('Vill du ta bort boken "' + booktitle + '" ?')) return;
            var id = $this.data('id');
            $.ajax({
                url: 'api/book/delete',
                method: 'POST',
                data: { bookid: id },
                success: function () {
                    /*window.location.reload();*/
                    $.get('/book',
                        function (html) {
                            $('.booktable').html(html);
                        });
                },
                error: function () {
                    window.alert('Kunde inte ta bort boken');
                }
            });
        })
    </script>

    <script>
        var goodWeatherTypes = [@string.Join(",", new[]{ (int)WeatherType.Clearsky, (int)WeatherType.Halfclearsky, (int)WeatherType.Nearlyclearsky})];
        $.get('/api/weather',
            function(weather) {
                var weatherparagraph = $('<p></p>');

                var weathertext =
                    'Det är just nu ' +
                    weather.TemperatureNow +
                    ' grader ute, imorgon vid denna tiden ska det bli ' +
                    weather.TemperatureTomorrow +
                    ' grader. ';

                weatherparagraph.append(weathertext);

                var isGoodWeatherNow = goodWeatherTypes.indexOf(weather.WeatherNow) !== -1;
                if (isGoodWeatherNow) {
                    weatherparagraph.append('Det är bra väder ute, läs en bok senare!');
                } else {
                    weatherparagraph.append('Det är lite kasst väder ute, perfekt för att läsa en bok!');
                }

                $('.weatherdata').html(weatherparagraph);
            });
    </script>
}